

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.search{
    padding: 0px 30px;
    height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    background-color: rgb(43, 45, 46);
}

.search input{
    width: 900px;
    height: 25px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:  rgb(45, 50, 68);
    border: none;
    border-radius: 5px;
}
form{
    display: flex;
    align-items: center;
    height: 50px;
    background-color:  rgb(45, 50, 68);
    border-radius: 5px;
}
form img{
    margin: 5px 5px;
}
.search button{
    cursor: pointer;
    width: 85px;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
}
.sing-up{
    color: rgb(0, 0, 0);
    background-color: rgb(60, 180, 80);
    border: none;
}
.sing-up:hover{
    color: rgb(250, 245, 245);
    background-color: rgb(37, 110, 49);
}
.log-in{
    color: rgb(250, 245, 245);
    background-color:  rgb(45, 50, 68);
    border: none;
}
.log-in:hover{
    color: rgb(250, 245, 245);
    background-color: rgb(83, 88, 94);
}

.main{
    max-width: 100%;
    height: 600px;
    padding: 20px 60px;
    display: flex;
    color: aliceblue;
    background: rgb(17, 18, 18);
}
.icon-header{
    padding: 20px 20px;
    width: 580px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
}
.icon-header img{
    margin-right: 20px;
}
.code-pen-is{
    padding:10px 20px;
    font-size: 18px;
}
.sing-up-button{
    cursor: pointer;
    margin: 15px 20px;
    height: 45px;
    width: 130px;
    font-size: 15px;
    background: rgb(60, 180, 80);
    border-radius: 5px;
}
.sing-up-button:hover{
        color: rgb(250, 245, 245);
        background-color: rgb(37, 110, 49);
}
.dev-tools-block{
    cursor: pointer;
    margin: 20px 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 100px;
    background: rgb(48, 51, 61);
    border-radius: 5px;
}
.dev-tools-text{
    margin-left: 20px;
}
.start-testing-text{
    color: rgb(113, 120, 137);
    font-size: 14px;
}

.dev-tools-pic{
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 50px;
    background: rgb(73, 121, 192);
}
.dev-tools-block:hover{
    background: rgb(47, 61, 80);
}

.right-header-grey{
    position: relative;
    margin: 30px 20px;
    padding: 20px 20px;
    height: 400px;
    width: 450px;
    background: rgb(60, 60, 62);
    border-radius: 10px;
}
.right-header-grey p{
    font-weight: bold;
}
.first-block{
    padding: 10px 20px;
    left: 130px;
    top:-20px;
    position: absolute;
    height: 130px;
    width: 300px;
    background: rgb(28, 28, 34);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px  rgb(29, 29, 36);
}
.first-block span{
    font-size: 13.5px;
}
.span-orange{
    color: orange;
}
.span-yellow{
    color:rgb(239, 206, 88);
}
.span-green{
    color:rgb(70, 182, 70);
}
.span-brown{
    color:rgba(125, 103, 86, 0.756);
}
.span-white{
    color:white;
}
.second-block{
    padding: 10px 20px;
    left: 180px;
    top: 130px;
    position: absolute;
    height: 130px;
    width: 300px;
    background: rgb(28, 28, 34);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px  rgb(29, 29, 36);
}
.second-block span{
    font-size: 12px;
}
.third-block{
    padding: 10px 20px;
    left: 110px;
    bottom: -10px;
    position: absolute;
    height: 130px;
    width: 300px;
    background: rgb(28, 28, 34);
    border-radius: 5px;
    box-shadow: 0px 10px 10px 5px  rgb(29, 29, 36);
}

.third-block{
    font-size: 13px;
}

.middle-page{
    max-width: 100%;
    height: 500px;
    padding: 20px 20px;
    background: rgb(13, 13, 15);
}

.grids{
    margin: 30px 10px;
    display: flex;
    align-items: center;
    column-gap: 80px;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.img-grid{
    position: absolute;
    margin-top: -50px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 10px;
}
.grid-header{
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
}
.grid-descr{
    font-size: 14px;
}
.grid-button{
    cursor: pointer;
    padding: 10px 12px;
    width: 130px;
    margin-top: 35px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(89, 95, 116);
}
.grid-button:hover{
    background: rgb(104, 107, 119);
}
.grid-full-block{
    position: relative;
    height: 300px;
    width: 320px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    background: rgb(48, 51, 61);
    border-radius: 10px;
}
.grid-second-button{
    cursor: pointer;
    height: 40px;
    width: 220px;
    margin-top: 10px;
    font-size: 15.5px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(89, 95, 116);
}
.grid-second-button:hover{
    background: rgb(104, 107, 119);
}
.grid-third-button{
    cursor: pointer;
    height: 38px;
    width: 220px;
    margin-top: 33px;
    font-size: 15.5px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(89, 95, 116);
}
.grid-third-button:hover{
    background: rgb(104, 107, 119);
}

.training-part{
    padding: 40px 40px;
    min-height: 100%;
    height: 400px;
    background: grey;
}
.hidden-block{
    display: none;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}
.hidden-block:hover{
    display: block;
}
.not-hidden-block{
    width: 350px;
    height: 250px;
    background-color: rgb(191, 186, 186);
    border-radius: 10px;
}
