:root{
  --theme-light-header: 'yellow';
  --theme-dark-header: 'green';
  --theme-neutral-header: 'orange';
  --theme-default-header: var(--theme-neutral-header);

  --theme-bg-light: radial-gradient(circle, rgba(201,241,184,1) 0%, rgba(138,200,167,0.975954371006215) 40%, rgba(0,212,255,1) 100%);
  --theme-bg-dark:  radial-gradient(circle, rgba(242,211,161,1) 0%, rgba(237,178,135,0.975954371006215) 40%, rgba(222,59,35,1) 100%);
  --theme-bg-neutral:  radial-gradient(circle, rgba(201,241,184,1) 0%, rgba(200,138,194,0.975954371006215) 40%, rgba(0,212,255,1) 100%);
  --theme-bg-default: var(--theme-bg-neutral);
}

body {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--theme-bg-default);
  background-position: top center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}




